<div style="
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f4f4f4;
    margin: 0;
    padding: 2rem;
    color: #333;
">

    <div style="
        background-color: #fff;
        padding: 2em;
        border-radius: 5px;
        max-width: 600px;
        margin: 1rem 0;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    ">

        <h1 style="
            color: #333;
            font-size: 24px;
            margin-bottom: 1em;
        ">¡Hola! {{ name }},</h1>

        <p>Ha recibido este mensaje porque se solicitó un restablecimiento de contraseña para su cuenta.</p>

        <div style="
            display: flex;
            justify-content: center;
            margin: 2em 0;
        ">
            <a href={{urltoken}}
                style="
                    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
                    display:inline-block;
                    padding: 1rem;
                    border-radius: 5px;
                    background-color: #b92929;
                    color: white;
                    text-decoration: none;
                    font-weight: bold;
                ">
                Restablecer contraseña
            </a>
        </div>

        <p>Este enlace de restablecimiento de contraseña expirará en 10 minutos.</p>
        <p>Si no ha solicitado el restablecimiento de contraseña, omita este mensaje de correo electrónico.</p>
        <p>Saludos,<br>Equipo de SAA</p>

        <div style="
            border-top: 1px solid #ddd;
            padding: 1rem;
            max-width: 550px;
            margin-top: 2em;
        ">
            <p style="
                color: #646262;
                font-size: 14px;
            ">
                Si está teniendo problemas al hacer clic en el botón "Restablecer contraseña", copie y pegue la URL de abajo en su navegador web: <br>
                <span style="
                    color: #007bff;
                    overflow-wrap: break-word;
                    display: block;
                    margin-top: 1em;
                ">
                    {{urltoken}}
                </span>
            </p>
        </div>
    </div>
</div>